.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: lightgray;
  padding: 3px 5px;
}

.title {
  text-align: center;
}

.image {
  max-width: 570px;
  width: 100%;
  box-sizing: border-box;
}

.footer {
  display: flex;
}
